.outter-container {
	width: 100%;
	flex-direction: column;
	align-items: flex-start !important;
}
.brief-section {
	flex-direction: column;
}
.poster-container {
}

.brief-info {
}
.overview {
}
.actors {
}
