.modal-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	filter: brightness(50%);
	z-index: 105;
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
